html {
	font-size: 10px;
	font-family: 'Source Serif Pro', serif;
	background-color: #effffc;
}

body {
	width: 600px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
}

h1 {
	margin: 0;
	padding: 0 0;
	font-size: 48px;
	text-align: center;
}

h2 {
	margin: 0;
	padding: 5px 0 0 0;
	text-align: center;
}

p, li {
	letter-spacing: 0px;
	font-size: 14px;
	line-height: 2;
}

h1, h2, p, li {
	color: black;
}

dt {
	font-size: 16px;
	line-height: 2;
}

dd {
	font-size: 14px;
	line-height: 2;
}

.resume-section {
	text-align: left;
	font-size:24px;
	text-decoration: underline;
}


#main-pic {
	margin: 0 auto;
	display: block;
}

.external-link {
	color: red;
}

.external-link:hover {
	color: blue;
}

button {
	border: none;
	width = 20%;
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 2%;
	color: black;
	background-color: #77f1ff;
	font-family: 'Source Serif Pro', serif;
	text-align: center;
	display: inline-block;
	border: 2px solid black;
}

button:hover {
	background-color: white;
}
